@{
    Layout = "_Layout";
}

<div class="container p-5">
    <header>
        <h3 style="color:#0d6efd" class="mb-3">Contact Us</h3>
        <p class="phone">Phone: (+90) 123 456 7890</p>
        <ul>
            <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
            <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
        </ul>
        <p class="mail">
            <a href="mailto:support@shopgrids.com">support@craftshop.com</a>
        </p>
        <p>
            İstanbul/Turkey
        </p>
    </header>
</div>