@{
    Layout = "_Layout";
}

<div class="container p-5">
	<h3 class="mb-4">Online Shopping</h3>

    <div class="card">
		<h5 class="card-header">Do you have a catalogue I can buy from?</h5>
        <div class="card-body">
			<p class="card-text">
				We regulary publish catalogues and leaflets throughout the year. Look out for them in our stores, national press and online. Also make sure you sign up for oue emails and be the first to receive all the latest products and special offers.
			</p>

        </div>
    </div>
	<div class="card">
		<h5 class="card-header">I have ordered something but have previously seen it on your website at a lower price</h5>
		<div class="card-body">
			<p class="card-text">
				We often run promotions and act fast to update our prices in response to trends, stock availability and demand from customers. We're sorry if this disappoints you from time to time - be sure to keep visiting us so you don't miss out on all our great deals.
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">How do I pay for my order?</h5>
		<div class="card-body">
			<p class="card-text">
				We like to give you plenty of payment options, so you can use any of the cards listed at the bottom of the website. We also take security very seriously indeed, so your details will be safe with us.<br />

				All credit and debit card holders are subject to validation and authorisation by both us and the card issuer, to maintain security and prevent fraud. <br />

				We also offer PayPal Pay in 3 as a payment option. <br />
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">When will I be charged?</h5>
		<div class="card-body">
			<p class="card-text">
				Once your card is authorised, payment will be taken immediately, and you will receive an email confirming that your order has been successful. <br />

				If your card is not authorised, payment will not be taken, and we would recommend you contact your bank or card issuer to understand why they were unable to authorise the payment.
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">Consumer Rights</h5>
		<div class="card-body">
			<p class="card-text">
				There is a telephone and online service offering impartial information and advice on consumer issues
			</p>

		</div>
	</div>
</div>

<div class="container p-5">
	<h3 class="mb-4">Technical Queries</h3>

	<div class="card">
		<h5 class="card-header">I have a problem with my shopping basket</h5>
		<div class="card-body">
			<p class="card-text">
				If items are disappearing from your shopping bag this is likely to be because our stock position has changed since you added the item to your basket. When this is the case a message will appear in the shopping basket to tell you. It could also be because you are using your internet browser's 'back' button, rather than selecting the 'Continue shopping' links on the shopping basket page. <br />

				If you are still having problems, try deleting the cookies on your PC. Simply select 'Tools' tab on your internet browser, select 'Internet Options', then choose 'Delete Cookies' and select OK. You should then be able to start over again.
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">I have seen a product but it no longer seems to be in stock</h5>
		<div class="card-body">
			<p class="card-text">
				Some of our most popular products will sell out of stock very quickly. As we try to keep our products fresh we add new products regularly so you might just find something similar to the one you were looking for. <br />

				Try browsing through our departments at the top of the web-page and then refine the type of item you are looking for by clicking on each of the sub-sections. <br />

				Alternatively, you can type in the product or brand into our search facility (top right of the Website) and we will find you everything related to your specific search.
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">What is 'Mastercard SecureCode'?</h5>
		<div class="card-body">
			<p class="card-text">
				MasterCard SecureCode is a service that password-protects your MasterCard credit, debit or Maestro card details, to give added security when you shop online. They allow you to create a password that is known only to yourself, to use every time you use your Maestro card online. <br />

				To register for MasterCard SecureCode all you need to do is follow the instructions next time you place an order with us. Alternatively, you can sign up by contacting the bank that issued your Maestro card directly. <br />

				You'll be asked to come up with a password (also known as a SecureCode) for your Maestro card. You only need to do this once then whenever you use the card online you will be asked to enter the password when you check out
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">My payment has been declined?</h5>
		<div class="card-body">
			<p class="card-text">
				Payment can be declined for a number of reasons. Try checking the details in your CraftShop account to ensure that the card details such as the start date, card type are correct and your billing address is the same registered to the card. <br />

				If the problem persists, try contacting your bank or card issuer.
			</p>

		</div>
	</div>
</div>

<div class="container p-5">
	<h3 class="mb-4">Store Help</h3>

	<div class="card">
		<h5 class="card-header">Buying and Using a Gift Voucher</h5>
		<div class="card-body">
			<p class="card-text">
				Gift vouchers are available for purchase from all our stores. They are available in 5 TL and 10 TL denominations. These can be used in any store. Unfortunately we don't currently accept gift vouchers online.
			</p>

		</div>
	</div>
	<div class="card">
		<h5 class="card-header">What to do if my gift voucher is lost or damaged?</h5>
		<div class="card-body">
			<p class="card-text">
				We are unable to replace lost vouchers, however if you voucher is damaged, please contact our Customer Services Team for further assistance.
			</p>

		</div>
	</div>
</div>
