@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";

    Layout = "_IdentityLayout";
}


<h2 class="auth-heading text-center mb-5" style="color:#15406a; font-family:cursive;">Reset Your Password</h2>
<div class="auth-form-container text-start mx-auto">
    <p class="text-link" style="color:#0d6efd;">
        Please check your email to reset your password.
    </p>

    <div class="auth-option text-center pt-5"><a asp-action="Index" asp-controller="Home" style="color:#0d6efd;"><i class="fa-solid fa-house"></i> Return Home</a></div>

</div><!--//auth-form-container-->

@*<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
*@