@model string
@{
    Layout = "_Layout";
}


<div class="container p-5">
    <div class="card mb-3">
        <div class="card-body text-center">
            <p style="color:black">@Model</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Back</a>
        </div>
    </div>
</div>
